<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Trans-Weld</title>
    <meta name="description"
        content="Empresa mexicana dedicada a la fabricación industrial, solución, asesoría y ejecución de proyectos que involucren soldadura y calidad.
        Nuestra especialidad es el servicio de tratamiento térmico en sitio en cualquier parte de México (desde Tijuana hasta Quintana Roo).">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/css/startup-materialize.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://kit.fontawesome.com/28f081bff3.js" crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



    <!-- Material Icons -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <script>
        function submitEmailForm(form) {

            var obj = new XMLHttpRequest();
            obj.onreadystatechange = function () {
                if (obj.readyState == 4) {
                    if (obj.status == 200) {
                        var res = JSON.parse(obj.responseText);
                        alert(res.message);
                    }
                    else {
                        console.log("XMLHttp status " + obj.status + ": " + obj.statusText);
                    }
                }
            };
            obj.open("post", form.action, true);
            obj.setRequestHeader("Content-Type", "application/json"); // NOTICE: "application/json"
            obj.send(JSON.stringify({ name: form.name.value, email: form.email.value, message: form.message.value }));
            alert("¡Mensaje enviado con éxito!");
            $(".formInput").val(" ");
            return false;
        }
    </script>
    <script>
        function submitInicioForm(form) {

            var obj = new XMLHttpRequest();
            obj.onreadystatechange = function () {
                if (obj.readyState == 4) {
                    if (obj.status == 200) {
                        var res = JSON.parse(obj.responseText);
                        alert(res.message);
                    }
                    else {
                        console.log("XMLHttp status " + obj.status + ": " + obj.statusText);
                    }
                }
            };
            obj.open("post", form.action, true);
            obj.setRequestHeader("Content-Type", "application/json"); // NOTICE: "application/json"
            obj.send(JSON.stringify({ name: form.nameInicio.value, email: form.emailInicio.value, message: form.messageInicio.value }));
            alert("¡Bienvenido a la comunidad. Tu registro ha sido hecho con éxito!");
            $(".formInput").val(" ");
            return false;
        }
    </script>
</head>

<body class="fontTrans">

    <!-- Navbar -->
    <nav class="nav-extended" style="background-color:  rgb(233, 156, 55);">
        <div class="nav-wrapper">
            <div class="container">
                <img src="/assets/images/logoB.png" alt="" class="logoNav">

                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">Inicio</a></li>
                    <li><a href="#nosotros">Nosotros</a></li>
                    <li><a href="collapsible.html">Proyectos</a></li>
                    <li><a href="collapsible.html">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Inicio</a></li>
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="collapsible.html">Proyectos</a></li>
        <li><a href="collapsible.html">Contacto</a></li>
    </ul>

    <div class="bodyPrincipal">
        {{{body}}}
    </div>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col s6 m3">
                    <img class="materialize-logo" src="images/materialize-teal.png" alt="">
                    <p>TRANS WELD WELDING AND HEAT TREATMENT</p>
                </div>
                <div class="col s6 m3">
                    <h5>Nosotros</h5>
                    <ul>
                        <li><a href="#!">Proyectos</a></li>
                        <li><a href="#!">Contizaciones</a></li>

                    </ul>
                </div>

                <div class="col s6 m3">
                    <h5>Contacto</h5>
                    <ul>
                        <li><a href="#!">Instagram</a></li>
                        <li><a href="#!">Facebook</a></li>

                    </ul>
                </div>
                <div class="col s6 m3">
                    {{!-- <h5>Connect</h5>
                    <ul>
                        <li><a href="#!">Community</a></li>
                        <li><a href="#!">Subscribe</a></li>
                        <li><a href="#!">Email</a></li>
                    </ul> --}}
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/assets/js/materialize.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <!-- External libraries -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/masonry.pkgd.min.js"></script>
    <script src="/assets/js/TweenMax.min.js"></script>
    <script src="/assets/js/ScrollMagic.min.js"></script>
    <script src="/assets/js/animation.gsap.min.js"></script>

    <!-- Initialization script -->
    <script src="/assets/js/startup.js"></script>
    <script src="/assets/js/init.js"></script>

    <script src="/assets/js/script.js"></script>



</body>

</html>