<div class="inicioDiv">

    <div class="imageDiv">
        <div class="container titleInicio center-align ">
            <h2 class="">16 AÑOS SIENDO LOS MEJORES</h2>
            <a class="waves-effect waves-teal btn-flat" style="color: white;"><u>Proyectos</u></a><a
                class="waves-effect waves-light btn-small #d32f2f red darken-2">Contacto</a>
        </div>
    </div>
    <div class="secondDiv">
        <div class="container center-align">
            <h5>
                Nuestra especialidad es el servicio de tratamiento térmico en sitio en cualquier parte de México.
            </h5>
            <i class="fa-solid fa-arrow-down fade-in-out" style="color: white !important;"></i>
        </div>

    </div>
    
</div>