<div class="inicioDiv">

    <div class="imageDiv">
        <div class="container titleInicio center-align ">
            <h2 class="">16 AÑOS SIENDO LOS MEJORES</h2>
            <a class="waves-effect waves-teal btn-flat" style="color: white;"><u>Proyectos</u></a><a
                class="waves-effect waves-light btn-small #d32f2f red darken-2">Contacto</a>
        </div>
    </div>
    <div class="secondDiv">
        <div class="container center-align">
            <h5>
                Empresa especializada en tres pilares | Fabricación | Pailera | Tratamientos térmicos
            </h5>
            <i class="fa-solid fa-arrow-down fade-in-out textWhite"></i>
        </div>

    </div>

</div>
<div class="nosotros" id="nosotros">
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <h5 class="textBlack">Trans Weld tiene como prioridad la eficacia y la disminución de tiempo de
                    ejecución.
                    <hr>
                </h5>

                <h6 class="textBlack">Nuestros
                    servicios son a domicilio evitando gastos de traslado mayor.</h6> <br>

                <ul class="collection">
                    <li class="collection-item avatar">
                        <i class="fa-solid fa-oil-well circle red"></i>

                        <p>Tratamientos Térmicos<br>

                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="fa-solid fa-trowel circle red"></i>

                        <p>Relevo de esfuerzo<br>

                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="fa-solid fa-truck-fast circle red"></i>

                        <p>Servicio express<br>

                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="fa-solid fa-user-shield circle red"></i>

                        <p>Consultores técnicos <br>

                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                </ul>
            </div>
            <div class="col s12 m6 ">
                <img class="imageWelding" src="/assets/images/welding1.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="section light full-height">
    <div class="row">
        <div class="col s12 m10 offset-m1 center">
            <h1 class="textRealWhite">Nuestros productos</h1>

        </div>
    </div>
</div>

<!-- Pricing Tables -->
<div class="section black valign-wrapper">
    <div class="row valign">
        <div class="col s12 m10 offset-m1">
            <div class="row">
                <div class="col s12 m4">
                    <div class="transform-wrapper">
                        <div class="pricing-table scale-in-out fade-in-out left-transform-origin">
                            <div class="pricing-header">
                                <i class="fa-solid fa-t"></i>
                                <h4>Relevo de esfuerzos o tratamiento térmicos</h4>
                                <div class="price">
                                    {{!-- <span class="currency">$</span>
                                    <span class="dollars">9</span>
                                    <span class="cents">99</span> --}}
                                </div>
                            </div>
                            <p class="textWhite textProd">
                                La especialidad de la casa, este proceso contempla los estándares de la norma ASME en
                                cuanto a Post Weld Heat Treatment, con la ventaja de poder llevarlo a cabo en el sitio
                                de la fabricación por medio de un método de horno portátil modular, que facilita poder
                                llevar a cabo varios equipos en simultaneo o equipos de dimensiones mayores (entre 6m
                                diámetro a 30 de largo).
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="transform-wrapper">
                        <div class="pricing-table featured scale-in-out fade-in-out">
                            <img class="transWimg" src="/assets/images/productsTrans.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="transform-wrapper">
                        <div class="pricing-table scale-in-out fade-in-out right-transform-origin">
                            <div class="pricing-header">
                                <i class="fa-solid fa-t"></i>
                                <h4>Fabricación/Pailera</h4>

                            </div>

                            <p class="textWhite textProd">
                                Contamos con el personal especializado para la fabricación de equipos a presión, TW ha
                                tenido en 2 ocasiones el estampado R y U otorgado por ASME, ademas tenemos experiencia
                                en servicios contra tiempo (paros por mantenimiento en diversas areas).
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>