.navbar-solid-transition{
    padding-bottom: 6%;
    padding-left: 3%;
    padding-right: 5%;
}
.pointer {cursor: pointer;}

.navItems {
    color: black !important;
    
}
.fontTrans{
    font-family: 'DM Sans', sans-serif;
}
.imageWelding{
    width: 100%;
    margin-right: auto;
    display: block;
    border-radius: 8px;
}
.textBlack{
    color: black;
}
.titleInicio{
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 8px;
    width: 30% !important;
    padding: 3%;
    
    
}
.textSomos{
    font-size: 25px;
    line-height: 1.5;
}
.logoNegroBg{
    width: 8% !important;
    padding: 1%;
}
.transitionTitle{
    margin-top: 10% !important;
}
.material-icons{
    color: white !important;
}

.celXyncs{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.textWthite{
    color:  #fabab2 !important;
    
}
.btnnServ{
    margin-left: 10%;
    margin-right: auto;
    margin-top: 10%;
    display: block;
    
}
.textRealWhite{
    color: white !important;
}
.textBlack{
    color: black !important;
}
.logoNav{
    width: 27%;
}
.nav-wrapper{
    padding-top: 1%;
}
.iconOrange{
    color: orange !important;
}
.textProd{
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 8%;
    text-align: center;
}
.transWimg{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textWhite{
    color: white !important;
}
.imageDiv{
    height: 30rem;
    background-image: url('/assets/images/transBanner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3rem;
}
.clientesB{
    height: 53rem;
    background-image: url('/assets/images/bannerClientes.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3rem;
}

.nosotros, .nuestroTrabajo{
    background-color: white;
    padding-top: 3%;
}

.secondDiv{
  
    padding: 3%;
}
.conocen{
    background-color: white;
    padding-top: 3%;
}


@media only screen and (min-width : 992px) {
    .nOlvidar{
        margin-bottom: 100%;
    }
    .divContacto{
        background-position: 0% 17%;
    }
    .imageWelding{

        margin-left: 5%;
    }
}

@media only screen and (max-width : 991px) {
    .logoNav{
        width: 56%;
        margin-left: 6%;
    }
    .nav-wrapper{
        padding-top: 4%;
    }
    .titleInicio{
        width: 90% !important;
    }
    .clientesB{
        height: 15rem;
        
    }
}

@media only screen and (max-width : 600px) {}